<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthShareUsageDescription</key>
	<string>Precisamos de acesso a algumas de suas informações de saúde para associar com seu humor.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Precisamos do acesso ao seu microfone para salvar como você está se sentindo</string>
</dict>
</plist>
